@charset "UTF-8";
/* CSS Document */

/*=====css reset=====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif; /*werkte eerst wel maar nu niet meer*/
	margin:0;
	padding:0;
}

/* =====Dropdown=====*/

header {   
    color: white;
	width: 100%;
	height:2em;
	border: none;
	background-color: #F5C832;
    position: fixed; 
    top: 0;/*zet header vast aan bovenkant viewport*/

}
header img{
	float: right;
	height:2em;
	width:auto;
}
header button{
	float:left;
 	border:none;
	background-color:transparent;
}

/*bron:https://www.w3schools.com/howto/howto_css_fixed_menu.asp*/

nav {
    display: none;
	margin-top:2em;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /*ik weet niet wat dit is */
	transition: 0.3s; /* werkt niet?*/
}

nav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
nav a input{
	width:auto;
}

nav a:hover {
	background-color: #f1f1f1

}

header:hover nav {
    display: block;
}

header button:hover header button {
    background-color: #F5C832;
}

body{
	padding-top:2em;
}
/*=====Accordion=====*/

.accordion{
    margin:50px auto;
    width: 380px;
    background: #ccc;
    cursor: pointer;
    .item{
        height: 100px;
        h3{
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            padding-left: 50px;
            font-family: $mainfont;
            font-size: 20px;
            font-weight: 400;
        }
        img{
            padding-left: 15px;
            width: 30px;
            vertical-align: middle;
        }
        h3:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        } 
    }
    .item:first-of-type{
        background: $Mahogany;
        color: $GoldenSand;
    }
    .item:nth-of-type(2){
        background: $AppleBlossom;
        color: $EggWhite;
    }
    .item:nth-of-type(3){
        background: $GoldenSand;
        color: $Mahogany;
    }
    .item:nth-of-type(4){
        background: $EggWhite;
        color: $OrangeRoughy;
    }
    .item:last-of-type{
        background: $OrangeRoughy;
        color: $EggWhite;
    }
    p{
        font-family: $mainfont;
        font-size: 18px;
        font-weight: 400;
        padding: 15px;
        display: none;
        box-shadow: inset 0 3px 7px rgba(#000, 0.2);
    }
    p:first-of-type{
        background: $Mahogany;
        color: $GoldenSand;
    }
    p:nth-of-type(2){
        background: $AppleBlossom;
        color: $EggWhite;
    }
    p:nth-of-type(3){
        background: $GoldenSand;
        color: $Mahogany;
        
    }
    p:nth-of-type(4){
        background: $EggWhite;
        color: $OrangeRoughy;
    }
    p:last-of-type{
        background: $OrangeRoughy;
        color: $EggWhite;
    }
}
