@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
	font-family: Segoe UI, Myriad, Verdana, sans-serif;
}
body {
	background-color: #E6E6E9;
	background-image: url("../images/meneer1.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
/*==============
  ===Dropdown===
  ==============*/
header {
	position: fixed;
	background-color: #ffc917;
	width: 100vw;
	top: 0;
	left: 0;
	height: 2em;
	z-index:2;/*ookal stond*/
}
button{
	background:none;
	border:none;	
}
header img {
/*doe dit later ik heb hier echt geen zin in nu*/
}
header nav {
	display: none;
	position: absolute;
	list-style: none;
	top: 30px;
	left: 0;
	padding: 7px;
	width: 320px;
}
header nav.open{
	display:block;
	top: 30px;
	left: 0;
	padding: 7px;
	width: 320px;
}
nav a {
	display: block;
	margin: 0;
	padding: 7px 10px;
	background: #fff;
	color: #030303;
	text-decoration: none;
}
nav a:hover, nav a:active {
	color: #fff;
	background: #058cf5;
}
/*=============
  ===Kaartje===
  =============*/
section {
	width: 15em;
	margin: 3em 2em;
	box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.20);
	background-color: white;
	flex-grow: 0.2;
	height: 23em;
	z-index:0;
	position:relative;
}
/*bovenste gedeelte*/

span {
	display: block;
	overflow: hidden;
	position: relative;
}
span .rondje {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	z-index: 0;
	background-color: darkred;
	width: 3.5em;
	height: 3.5em;
	padding: 1em 0;
	border-radius: 100%;
	color: white;
	font-weight: 500;
	text-align: center;
}
span .rondje p {
	margin-top: 0.15em;
}
span img {
	width: 120%;
}
/*onderste gedeelte*/
section summary {
	bottom: 0;
	background: white;
	width: 100%;
	padding: 1em;
	height:15.5em;
	
}
section summary h2 {
	margin: 0;
	padding-bottom: 0.5em;
	color: black;
	font-size: 1.5em;
	font-weight: 700;
}

section summary p {
	color: black;
	font-size: 0.8em;
	line-height: 1.8em;
	
}
section summary a, section summary footer{
	display:inline;
	margin-top:1em;
}
section summary a{
	text-decoration:none;
	color: #fff;
    cursor: pointer;
    box-shadow: inset 0 -3.125rem 0 #005ca0;
	padding:0.5em;
	margin-left:0.5em;
}


/*======================
  ===bovenste kaartje===
  ======================*/
section:first-of-type {
	height: 15em;
	background-color: rgba(0, 48, 130);
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:16em;


}
section:first-of-type > *{
	margin:auto;
	text-align:center;
}

section:first-of-type input{
	width:10rem;
	height:2rem;
	border-radius: 1em;
	border:none;
	
	
}

section:first-of-type button{
	color:rgba(0, 48, 130);
	background-color: #e6b517;
font-size:1em;
box-shadow: 0 -.125rem 0 #cfa317 inset;
width: 10em;
	border-radius:1em;

}
/*===========================
  ===Positionering Kaartje===
  ===========================*/

main {
	margin-top: 7em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/*=================
  ===breakpoints===
  =================
*/
/*breakpoint 2*/
@media(min-width:40em) {
body {
	background-image: url(../images/meneer2.jpg)
}
main {
	flex-flow: row wrap;
	justify-content: space-around;
}
section {
	flex-grow: 0;
}
section:first-of-type {
	margin: 0 12em; /*door margin breed te maken word het eerste item gecentreerd als er twee kolommen zijn*/
}
}

/*breakpoint 3*/
@media(min-width:58em) { /*het is geen rond getal omdat het anders niet mooi loopt met de flexbox breakpoints*/
body {
	background-image: url(../images/meneertje.jpg)
}
section:first-of-type {
	margin: 0 21em;
}
}

/*breakpoint 4*/
@media(min-width:76em) {
body {
	background-image: url(../images/meneer3.jpg)
}
section:first-of-type {
	margin: 0 30em;
}
}

@media(min-width:95em) {
section:first-of-type {
	margin: 0 40em;
}
}

/*breakpoint 5*/
@media(min-width:100em) {/*mijn beeldscherm thuis is extreem groot, en ik heb geen zin om daar rekening mee te houden.*/
* {
	background-color: red;
	color: red;
}
}
