@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
	font-family:Segoe UI,Myriad,Verdana,sans-serif;
	
}

body{
	background-color:#E6E6E9;
	background-image:url("../images/meneertje.jpg");
	background-repeat:no-repeat;
	background-size: 100% auto;
}

/*=================
  ====Dropdown=====
  =================*/
header{
	position:fixed;
	background-color:#ffc917;
	width:100vw;
	top:0;
	left:0;
	height:2em;
}
header img{
	/*doe dit later ik heb hier echt geen zin in nu*/
}

#iPadMenu {
	display:none;
    position: absolute;
    list-style: none;
    top: 30px;
    left: 0;
    padding: 7px;
    width: 320px;
}
nav a {
    display: block;
    margin: 0;
    padding: 7px 10px;
    background: #fff;
    color: #030303;
    text-decoration: none;
}
nav a:hover, nav a:active {
    color: #fff;
    background: #058cf5;
}

/*=================
  =====Kaartje=====
  =================*/
section {
	width: 15em;
	height: 23em;
	margin:2em;
	box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.20);
	z-index:-1;/*zorgt ervoor dat dropdown eroverheen komt*/
	background-color:white;/*vult ruimte op tussen span en summary*/

}
/*bovenste gedeelte*/

span {
	display:block;
	overflow: hidden;
	position: relative;
}
span .rondje {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	z-index: 1;/*plaatst rondje voor img voor alles*/
	background-color: darkred;
	width: 3.5em;
	height: 3.5em;
	padding: 1em 0;
	border-radius: 100%;
	color: white;
	font-weight: 500; /*maakt font minder bold*/
	text-align: center;
}
span .rondje p{
	margin-top:0.15em;
}
span img {
	width: 120%;
}
/*onderste gedeelte*/
section summary {
	bottom: 0;
	background: white;
	width: 100%;
	padding: 1em;
}
section summary h1 {
	margin: 0;
	padding-bottom: 0.5em;
	color: black;
	font-size: 1.5em;
	font-weight: 700;
}
section summary h2 {
	margin: 0;
	padding: 0 0 1em;
	color: darkred;
	font-size: 1em;
	font-weight: 400;
}
section summary p {
	display: none;
	color: black;
	font-size: 0.8em;
	line-height: 1.8em;
}
section summary footer {
	margin: 2em 0 0;
	color: black;
}
/*=========================
  ==Positionering Kaartje==
  =========================*/

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
